$redColor:#F46B5B;
$whiteColor:#FAFAFA;

.footer{
    .newLetter{
        width: 100%;
        height: max-content;
        padding: 0 10px;
        background-color: $redColor;
        
    }
    
}
