$redColor: #F46B5B;
$whiteColor: #FAFAFA;
$blackColor: #383838;

.footer {
    width: 100%;
    height: max-content;

    .header-of-footer {
        width: 100%;
        height: max-content;
        background-color: $redColor;

        .newLetter {
            width: max-content;
            display: flex;
            padding: 0 10px;
            justify-content: space-between;

            margin: 0 auto;

            .left-newLetter {
                height: 100%;
                display: flex;

                img {
                    width: 60px;
                    height: 60px;
                    margin: 75px 32px 74px 0;
                }

                .newLetter-text {
                    width: max-content;
                    height: max-content;
                    color: $whiteColor;

                    p {
                        margin-top: 69px;
                        font-weight: 700;
                        font-size: 36px;
                        margin-bottom: 16px;
                    }

                    span {
                        margin-bottom: 69px;
                        font-weight: 400;
                        font-size: 12px;
                    }
                }

            }

            .right-newLetter {
                width: max-content;
                margin-left: 4%;

                .right-newLetter-input {
                    width: max-content;
                    display: flex;
                    position: relative;

                    input {
                        margin-top: 85px;
                        width: 400px;
                        height: 40px;
                        border: none;
                        left: 0;
                    }

                    button {
                        position: absolute;
                        left: 295px;
                        width: 105px;
                        height: 35px;
                        top: 89px;
                        background-color: $blackColor;
                        color: $whiteColor;

                    }
                }

            }
        }
    }

    .center-of-footer {
        display: flex;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid gray;

        .footer-title {
            width: 35%;

            h5 {
                color: #F46B5B;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
            }

            span {
                width: 50%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 32px;
            }

        }

        .footer-about {
            margin-top: 50px;
            width: 65%;
            display: flex;

            .about_topic {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: $blackColor;
                padding: 0 0 0 40px;
            }
           
            li{
                list-style-type: none;
                margin-bottom: 10px;
            }
            .footer-company{
                width: 30%;
                text-align: center;
                
            }
            .footer-info{
                width: 35%;
               /*  text-align: center; */
            }
            .footer-contact{
              
                width: 35%;
                text-align: center;  
                .img{
                    padding: 0 5px;
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 56px;
                        height: 56px;
                    }
                }


            }
        }
    }
    .footer-of-footer{
      
        width: 80%;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;

        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $blackColor;
        }
        img{
            width: 128px;
            height: 32px; 
        }
    }
}