.newarrival__sun.cc {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
.newarrival__sun .newarrival__img.cc {
    width: 100%;
    height: 320px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
}
.newarrival__in4sp-left1{
    margin: 0 20px;
    .cc__we{
        font-weight: 550;
        margin-top: 10px;
    }
    .cc__admin{
        font-size: small;
        color: gray;
        margin-top: 10px;
        .cc__admin-name{
            color:#F46B5B ;
            margin-left: 2px;
        }
    }
}
.cc__admin{
    display: flex;
    align-items: center;
}

/* tablet */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    .newarrival__sun.cc {
        position: relative;
        width: 45%;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 20px;
        overflow: hidden;
    }
}
/* mobile */
@media only screen and (max-width:46.1875em){
    .newarrival__sun.cc {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 20px;
        overflow: hidden;
    }
    .newarrival {
        width: 84%;
        margin: 10px 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newarrival__listsp {

        margin-top: 10px;

    }
}