$main-color:#F46B5B;
.flash-sun-img.cc{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toprate-bao-img{
    width: 80%;
    height: 80%;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
}
.flash__sun .info-flash-sun.cc {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: start;
}
.list-star{
    color: orange;
    display: flex;
    align-items: center;
    .list-star-vote{
        color: gray;
        font-size: large;
        margin-right: 5px;
    }
}
.fa-star__addcart{
    background-color: #F46B5B;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: small;
}