$redColor: #F46B5B;
$whiteColor: #FAFAFA;
$blackColor: #383838;
$grayColor: #D0D0D2;


.centerLogin {
    svg {
        color: $redColor;
    }
    
    width: 100%;
    height: max-content;
    display: flex;
    background-color: $grayColor;
    justify-content: center;
    padding: 100px 0;

    .part-center {
        width: 40%;

        .box {
            width: 95%;
            margin: 0 auto;
            background-color: $whiteColor;
            border-radius: 20px;

            .form {

                width: 350px;
                margin: 120px auto;
                padding: 120px 0;

                height: 800px;

                h6 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    color: $blackColor;
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: $blackColor;
                }

                label.ant-form-item-required {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: $blackColor;

                }

                .input {
                    height: 60px;
                    width: 100%;
                }

                .login-form-button {
                    background-color: $redColor;
                    width: 100%;
                    height: 60px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                }

                .ant-checkbox-inner {
                    background-color: $redColor !important;
                    border-color: $redColor !important;
                }
            }

            .login-form-forgot {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $redColor;
            }

            .login-other {
                height: 40px;
                margin: 0 auto;
                width: 90%;
                display: flex;
                justify-content: center;


                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    color: $blackColor;
                    line-height: 40px;
                }

                .icon {
                    color: $grayColor;
                    display: flex;
                    justify-content: space-between;

                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }



        }
    }

}

@media (max-width:1200px) {
    .centerLogin {
        display: block;
        .part-center{
            width: 80%;
            margin: 0 auto;
        }
    }
}
@media(max-width: 540px){
    .form{
        width: 280px !important;
    }
}