$redColor: #F46B5B;
$whiteColor: #FAFAFA;
$blackColor: #383838;
$grayColor: #D0D0D2;

.center-search {
    width: 95%;
    margin: 50px auto;
    display: flex;

    .center-left {
        text-align: center;
        width: 200px;
        padding: 20px;

        border: 1px solid $grayColor;
        border-radius: 10px;

        .catalog {
            text-align: left;
            height: 400px;
            overflow-y: scroll;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            h5 {
                margin-bottom: 5px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: $blackColor;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $blackColor;

            }


        }

        .search-price {
            width: 190px;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            .menu-price {
                display: flex;
                height: 24px;
                justify-content: space-between;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }

                .price-drop {
                    >span {
                        font-weight: 400;
                        font-size: 18px;
                        color: $grayColor;

                        span {
                            font-weight: 400;
                            font-size: 18px;
                            color: $blackColor;
                        }
                    }
                }
            }

        }

        .search-location {
            width: 190px;
            margin-bottom: 10px;
            border-bottom: 1px solid $grayColor;

            .menu-location {
                display: flex;
                height: 24px;
                justify-content: space-between;
                margin-bottom: 5px;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }

            .location-drop {
                text-align: left;
            }

        }

        .search-rate {
            width: 190px;
            margin-bottom: 10px;
            border-bottom: 1px solid $grayColor;

            .menu-rate {
                display: flex;
                height: 24px;
                justify-content: space-between;
                margin-bottom: 5px;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }

            .rate-drop {
                text-align: left;
            }
        }

        .search-brand {
            width: 190px;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            .menu-brand {
                display: flex;
                height: 24px;
                justify-content: space-between;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }

        }

        .search-promotion {
            width: 190px;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            .menu-promotion {
                display: flex;
                height: 24px;
                justify-content: space-between;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }
        }

        .search-payment {
            width: 190px;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            .menu-payment {
                display: flex;
                height: 24px;
                justify-content: space-between;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }
        }

        .search-shipment {
            width: 190px;
            border-bottom: 1px solid $grayColor;
            margin-bottom: 10px;

            .menu-shipment {
                display: flex;
                height: 24px;
                justify-content: space-between;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;

                }

                img {
                    width: 24px;
                    height: 24px;
                }

                :hover {
                    cursor: pointer;
                }
            }
        }

        .btn {
            margin: 30px auto 10px auto;
            width: 150px;
            height: 40px;
        }

        .reset {
            color: $redColor;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
        }
    }

    /* RIGHT---------------------------------------------------- */
    .center-right {
        width: calc(100% - 200px);
        padding-left: 20px;

        .top-list {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 0.1px solid $grayColor;

            .top-left {
                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    color: $blackColor;
                }
            }

            .top-right {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $grayColor;
            }
        }

        .list {

            .product {
                width: 100%;

                padding: 0 5px;

                .product-no-media {
                    display: flex;

                    .img-box {
                        width: 300px;


                        img {
                            max-width: 100%;
                            max-height: 100%;
                            margin-bottom: 20px;
                        }

                    }

                    .title {
                        width: calc(100% - 300px);
                        display: flex;
                        justify-content: space-between;

                    }

                    .left-title {
                        margin-left: 10px;
                        width: 300px;

                        .rate-sold {
                            display: flex;
                            width: max-content;
                            height: 30px;

                            .rate {
                                display: flex;

                                .rate-point {

                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 18px;
                                    margin-right: 5px;

                                }

                                .rate-stars {
                                    padding-top: 1.5px;
                                    margin-right: 5px;
                                }

                            }

                            .review {
                                border-right: 0.5px solid rgb(214, 209, 209);

                                p {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    margin-right: 5px;
                                    color: $grayColor;

                                }
                            }

                            .sold {

                                p {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    margin-right: 5px;
                                    color: $grayColor;

                                }
                            }
                        }

                        .name {
                            height: 132px;

                            p {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 24px;
                                color: $blackColor;
                            }

                            span {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                color: $blackColor;
                            }
                        }

                        .btn {
                            background-color: $redColor;
                        }
                    }

                    .price {
                        padding-top: 30px;
                        height: 200px;
                        text-align: right;

                        .old-price {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            color: $grayColor;
                            text-decoration: line-through;
                        }

                        .new-price {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 36px;
                            color: $redColor;
                            margin-bottom: 35px;
                            margin-top: 10px;
                        }

                        .wishlist {
                            display: flex;

                            p {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                color: $blackColor;
                                margin-left: 5px;
                            }
                        }
                    }

                }

                .media {
                    height: 56.56px;
                    width: 100%;
                    display: none;
                    justify-content: space-between;

                    .btn-media {
                        margin-top: 13px;
                        background-color: $redColor;
                    }

                    .old-price-media {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        color: $grayColor;
                        text-decoration: line-through;
                        line-height: 56.56px;
                    }

                    .new-price-media {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        color: $redColor;

                    }

                    .wishlist-media {
                        margin-top: 12px;
                        display: flex;
                        width: 190px;
                        height: 28.28px;

                        img {
                            height: 28.28px;
                        }

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: $blackColor;
                            line-height: 28.28px;

                        }
                    }
                }

            }

        }
    }
}

@media (max-width:1069px) {
    .center-search {
        .list {
            .title {
                .left-title {
                    width: 260px !important;

                    .rate-sold {
                        display: block !important;
                        height: max-content !important;
                        margin-bottom: 30px;
                    }
                }

                .price {
                    .new-price {
                        margin-top: 45px !important;
                        margin-bottom: 45px !important;
                    }
                }
            }
        }
    }
}

@media (max-width:1026px) {
    .center-right {
        .list {
            .product {
                .product-no-media {

                    .title {
                        .left-title {

                            width: 95% !important;

                            .rate-sold {
                                display: flex !important;
                            }

                            .name {
                                width: 100% !important;
                            }

                            .btn {
                                display: none;
                            }
                        }


                        .price {
                            display: none !important;
                        }
                    }


                }

                .media {
                    display: flex !important;

                }
            }

        }
    }
}

/* @media (max-width:973px) {
    .center-right{
        .list{
            .product{
                .product-no-media{
                    .left-title{
                        width: 100% !important;
                        .rate-sold{
                            display: flex !important;
                            margin-bottom: 25px !important;
                        }
                    }
                    .price{
                        display: none !important;
                    }
                }
            }
            .media{
                .old-price-media{
                    display:  block ;
                }
                .new-price-media{
                    display:  block !important;
                }
            }
        }
    }
} */
@media (max-width:810px) {
    .center-right {
        .list {
            .product {
                .product-no-media {
                    display: block !important;

                    .img-box {
                        margin: 0 auto;
                    }

                    .title {
                        display: block !important;
                        width: 100% !important;

                        .left-title {
                            width: 100%;

                            .rate-sold {
                                margin: 0 auto;
                            }

                            .name {
                                text-align: center;
                            }

                        }

                        .price {
                            padding: 0;
                            height: 60px;
                            width: 100% !important;
                            justify-content: space-between;
                            display: flex !important;

                            .old-price {
                                padding: 0 !important;
                                line-height: 56px;

                            }

                            .new-price {
                                margin: 0 !important;

                            }

                            .wishlist {
                                display: none !important;
                            }
                        }

                    }

                }
                .media{
                   .new-price-media{
                    display: none;
                   }  
                   .old-price-media{
                    display: none;
                   }   
                }
            }
        }
    }
}