$main-color:#F46B5B;
@mixin ogiua {
 display: flex;
 justify-content: center;
 align-items: center;
}
@mixin canle {
    width: calc(100% - 16%);
    margin: 0 8%;
}
@mixin canleMoble {
    width: calc(100% - 4%);
    margin: 0 2%;
}
*{
    margin: 0;
    padding: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
}
header{
    @include canle();
    border-bottom: 1px solid rgba(211, 211, 211, 0.475) ;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header__left img{
    margin-right: 15px;
}
.header-right-text{
    font-size: small;
    margin: 0 10px;
}
.header-img{
    width: 16px;
    height: 16px;
}
.header__right{
    display: flex;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h__{
    @include canle();
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   

}
.logo{
    width: 77px;
    height: 22px;
}
.h-center{
    width: 45%;
    display: flex;
    justify-content: end;
}
.center-input{
    width: 90%;
    position: relative;
   display: flex;
   justify-content: end;

}
.center-input .btn-search{
    position: absolute;
}
.img-search{
  width: 15px;
  height: 15px;
}
#center-input{
  width: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: rgba(211, 211, 211, 0.329);
  caret-color: $main-color;

  
}
.h-center .img1{
    width: 32px;
    height: 32px;
}
.btn-seach{
    background-color: $main-color;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    cursor: pointer;
    @include ogiua()
}
.h-center .img-seach{
    width: 15px;
    height: 15px;

}
.h-right{
    display: flex;
}
.h-right img{
    width: 20px;
    height: 20px;

}
.h-right{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}
.h-right .bao-img2{
   height: 27px;
   width: 27px;
   position: relative;
   cursor: pointer;
}
.h-right .bao-img3{
    height: 27px;
    width: 27px;
    position: relative;
    cursor: pointer;
 }
.signin{
    color: $main-color;
    font-size: small;
    cursor: pointer;
}
.signup{
    width: 100px;
    height: 40px;
    background-color: $main-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
}

.bao-img2::after{
    position: absolute;
    content: attr(data-shopping);
    background-color: #F46B5B;
    left: 12px;
    top: -6px;
    color: white;
    border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 10px;
   text-align: center;
   line-height: 1.5;
   border: 2px solid white;
}
.bao-img3::after{
    position: absolute;
    content: attr(data-email);
    background-color: #F46B5B;
    left: 12px;
    top: -6px;
    color: white;
    border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 10px;
   text-align: center;
   line-height: 1.5;
   border: 2px solid white;
}
.list-btn-dieuhuong{
    @include ogiua();
    div{
      margin-right: 25px;
      font-size: 11px;
      cursor: pointer;
    }
    margin-top: 20px;
}
.bao-img1{
    margin-top: -8px;
    color: rgba(0, 0, 0, 0.724);
    display: none;
}







/* tablet */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    .h-center{
        display: flex;
    }
}
/* mobile */
@media only screen and (max-width:46.1875em){
    .bao-img1{
        display: block;
    }
    header{
        @include canleMoble()
    }
    .h-center{
        display: none;
    }
    .bao-img1{
        margin-top: -8px;
        color: rgba(0, 0, 0, 0.724);
        font-size: 13px;
        cursor: pointer;
        margin-right: 10px;
    }
    .signup{
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    .logo{
        margin-top: -10px;
        width: 50px;
        height: 15px;
      
    }
    .header__left img {
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    .header-right-text {
        font-size: 10px;
        margin: 0 5px;
    }
    .h-right {
        display: flex;
        width: 25%;
        justify-content: space-between;
        align-items: center;
        min-width: 187px
    
    ;
    }
    .list-btn-dieuhuong div {
        margin-right: 25px;
        font-size: 10px;
        cursor: pointer;
    }
    .h-right img {
        width: 15px;
        height: 15px;
    }
    .bao-img2::after{
        text-align: center;
        position: absolute;
        content: attr(data-shopping);
        background-color: #F46B5B;
        left: 10px;
        top: -2px;
        color: white;
        border-radius: 50%;
       width: 10px;
       height: 10px;
       font-size: 8px;
       text-align: center;
       line-height: 1.2;
       border: 2px solid white;
    }
    .bao-img3::after{
        text-align: center;
        position: absolute;
        content: attr(data-email);
        background-color: #F46B5B;
        left: 10px;
        top: -2px;
        color: white;
        border-radius: 50%;
       width: 10px;
       height: 10px;
       font-size: 8px;
       text-align: center;
       line-height: 1.2;
       border: 2px solid white;
    }
    .signin {
        color: #F46B5B;
        font-size: 10px;
        cursor: pointer;
    }

}
